<!DOCTYPE html>
<html>
    <head>
    <!-- Blog/Templates/test/hola.html.twig -->
    </head>
    <body>
        <h1>Hola {{ prenom | capitalize }} !!</h1>
        <!-- localhost:8000/hola/yakine -->


    </body>
</html>
